@model Wagebat.Models.Item

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-pen icon-gradient bg-happy-itmeo">
                </i>
            </div>
            <div>
                Edit Item
                <div class="page-title-subheading">

                </div>
            </div>
        </div>
        <div class="page-title-actions">

            <div class="d-inline-block">
                <p>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-6" style="margin: 6px auto;">

        <div class="card">
            <div class="body">
                <form method="post" id="reg_form" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input style="margin: 10px auto; display: block;" type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
