@page
@model LoginModel

@{
    Layout = "~/views/shared/_LoginLayout.cshtml";
}

<main class="login-body">
    <!-- Login Admin -->
    <form class="form-default" id="account" method="post">

        <div style=" padding-bottom: 17px;" class="login-form">

            <h2>Login Here</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-input">
                <input asp-for="Input.Username" placeholder="User name">
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-input">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <input asp-for="Input.Password" placeholder="Password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" value="login">
            </div>

            <!-- Forget Password -->
            <a style="display: inline;" asp-action="Index" asp-controller="Home" class="forget">HOME</a>
            <!-- Forget Password -->
            <span style="display: inline; float: left; color: snow; margin-right: 140px;">New to Wagebat?&nbsp;<a style="display: inline; float: right;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="registration">Sign Up</a></span>
            
        </div>
    </form>
    <!-- /end login form -->
</main>

