@{
    ViewData["Title"] = "Privacy Policy";
}

<section id="breadcrumbs" class="breadcrumbs">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</section>

@section Scripts {
    
}