@model Wagebat.Models.Question

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/TextEditor/jquery.min.js"></script>
<script src="~/TextEditor/jquery-te-1.4.0.min.js"></script>
<link href="~/TextEditor/jquery-te-1.4.0.css" rel="stylesheet" />
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact breadcrumbs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Ask a Question NOW!!</h2>
            <p>Ask your question now and you will be notified when our Experts ANSWER it.</p>
        </div>

        <div class="row">
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" style="margin-left: auto; margin-right: auto;">
                <form asp-action="Create" method="post" role="form" class="php-email-form"enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (ViewBag.ShowMessage)
                    {
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message d-block">Your Question has been submited. Thank you!</div>
                        </div>
                    }
                    <div class="form-group">
                        <label for="name">Course</label>
                        <select asp-for="CourseId" class="form-control" asp-items="ViewBag.Courses">
                            <option value="0">Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">Attachments</label>
                        <input type="file" multiple class="form-control" name="files">
                    </div>
                    <div class="form-group">
                        <label for="name">Question</label>
                        <textarea asp-for="Body" class="form-control" rows="10" required></textarea>
                    </div>
                    <div class="text-center" style="margin-top: -25px;"><button type="submit">Submit</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Body").jqte();
        });
    </script>
}
